@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
.contanre {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    text-decoration: none;
}

.card {
    background-color: #ffffff;
    width: 21em;
    box-shadow: 0 5px 20px rgba(1 1 1 /15%);
    border-radius: 15px;
    padding: 25px;
    margin: 18px;
    transition: 0.7s ease;
    height: 400px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.info {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.info h3 {
    color: #3a6cf4;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: 800;
}

.icon {
    font-size: 6.0em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: #3a6cf4;
}

.pro-imge img {
    width: 100px;
    height: 230px;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
}

footer {
    position: absolute;
    bottom: 900px;
    padding: auto;
}